body{
    text-align: center;
}

.btn {
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
    margin: 1rem;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.red {
    background-color: rgb(245, 103, 8);
}
.yellow {
    background-color: rgb(200,200,0);
}
.blue {
    background-color: rgb(100,100,200);
}
.green {
    background-color: rgb(0,255,0);
}
.flash {
    background-color: white;
}